torch>=2
torchaudio>=2.2
faster-whisper==1.0.3
transformers
pandas
setuptools>=65
nltk
pyannote.audio==3.1.1
pyannote.core==5.0.0
pyannote.database==5.0.1
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1